*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(236, 236, 118);
    color: #2e2e2e;
    line-height: 1.6;
  }
  
  .container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 40px 0;
  }
  
  /* Header */
  header {
    background-color: #333333;
    color: white;
    padding: 20px 0;
    
  }

 

  .img{
      border-radius: 100%;
      width: 100px;
      height: 100px;
      object-fit: cover;
  }
  
  header h1 {
    font-size: 2em;
    text-align: left;
  }
  
  nav ul {
    display: flex;
    justify-content: end;
    list-style: none;
    margin-top: 10px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  nav a:hover {
    background-color: #555;
    border-radius: 5px;
  }
  
  /* Hero */
  .hero {
    /*background-image: url('img/hero-bg.jpg');*/
    background-size: cover;
    background-position: center;
    color: black;
    text-align: center;
    padding: 100px 20px;
  }
  
  .hero h2 {
    font-size: 2.5em;
    margin-bottom: 28px;
    color:black;
  }
  
  /* About */
  .about {
    background-color: #ffffff;
  }
  
  /* Galería */
  .gallery .grid {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    width: 100px;
    /*height: auto;*/
    margin: 20px;
  }

  
  .gallery img {
    width: 100%;
    display: flex;
    
  }
   


  .productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 13px;
    height: auto;
    font-size: 18px;
  }

  .producto {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 15px;
    text-align: center;
  }

  .producto img {
    width: 180px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
  }

  .producto h2 {
    font-size: 1.2em;
    margin: 10px 0 5px;
  }

  .producto p {
    color: #555;
  }


  
  /* Contacto */
  .contact form {
    display: flex;
    flex-direction: column;
    gap: 15px;
   
  }
  
  .contact input,
  .contact textarea {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  .button{
    
    border: none;
    padding: 32px;
    margin: 39px;
    /*background-color:rgb(13, 13, 83);*/
    color: white;
    cursor: pointer;
  }

  button:hover {
    background-color:floralwhite;
  }
  

  /* Footer */
  footer {
    background-color: #333;
    color: white;
    text-align: left;
    padding: 20px;
    
  }

  .letra{
    
    text-align: end;
    color: white;
    text-decoration: none;
    
    
  }
 
.redes{
  display: flex;
  gap: 18px;
  justify-content: end;
  margin-top: 24px;
  
  
}